<h1>Bienvenue sur mon blog!</h1>
<i>Vous avez <%= @posts.count %> visible</i>

<% @posts.each do |post| %>
<hr />
    <h2><%= post.title %></h2>
    <br />
    <p>
        <%= post.body[0..10] %>
    </p>
    <i><%= post.created_signature %></i>
<% end %>